.admin_login-wrapper {
  text-align: center;
  h1 {
    font-size: 55px;
    font-weight: bold;
    color: #e5553f;
    padding: 30px 0;
    padding-bottom: 70px;
  }
  input {
    margin: 10px 0;
  }
  .btn-admin {
    padding: 10px 25px;
    margin: 20px 0;
    background-color: #e5553f;
    color: #fff;
    font-weight: bold;
  }
}
